[Settings]
modifierkey = 4100
spellchecking = True
customenc = False
checklang = True
mimecheck = True
fuzzy = True
untranslated = True
translated = True
obsolete = False

[Users]
names = User;
default = User

[User]
name = User
lang = fur
team = Friulian
pe-mail = f.t.public@gmail.com
te-mail = f.t.public@gmail.com
spell_dictionary = /boot/system/data/hunspell/fur_IT
spell_inclusion = û,Ç,Â
spell_esclusion = Pc,Pd,Pe,Pi,Po,Ps,Cc,Pf
